@model UNEMATEC.Models.ViewModels.mLogin
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login | Unematec</title>

    <link rel="stylesheet" href="~/Content/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

</head>
<body>
    <div id="container">
        <div id="formLogin">
            <div id="colorbox" style="background-color: #192a56;">
            </div>
            <div id="infoBox">
                <h2>BIENVENIDO</h2>
                <h3>INICIAR SESIÓN</h3>
                @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <label for="mail">Correo Electrónico</label>
                    @Html.TextBoxFor(model => model.Correo, htmlAttributes: new { @id = "mail", placeholder="Correo electrónico", required="true", type="email"})
                    <label for="pass">Contraseña</label>
                    @Html.TextBoxFor(model => model.Password, htmlAttributes: new {@id="pass", placeholder="Contraseña", type="password",required="true" })
                    <button type="submit" id="btnInises">Iniciar Sesión</button>
                    <p>Si aún no tienes cuenta, regístrate <a href="~/Registro/Index" style="text-decoration: underline;"> aquí </a>.</p>
               }
                </div>
        </div>
    </div>
</body>
</html>
