
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inicio | Unematec</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.10.2/js/all.js" data-auto-replace-svg="nest"></script>

</head>
<body>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="~/LogOut/Index" id="goodbye">Cerrar sesión</a>
                        <button type="button" id="btnDropdown2" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onClick="window.open('#','_self');"><i class="fas fa-user-circle"></i></button>
                    </li>
                </ul>
            </div>
        </nav>
    <div id="divContent">
        <div class="mainUser" id="infoPago">
            <h2>Aún no hay pagos registrados.</h2>
            <p>Aquí podrás ver el detalle de los pagos realizados.</p>
            <p><b>NOTA: </b> Recuerda que es necesario tu pago</p>
        </div>
        <div class="mainUser" id="payLogin">
            <h3>Inicia sesión en PayPal</h3>
            <div id="divPaypal">
                <div class="text-center">
                    <div id="paypal-button-container-P-68321642VB210481BMJXTHIY"></div>
                    <script src="https://www.paypal.com/sdk/js?client-id=AXPTYF58bXgWYwwG3bzABpIdS-ocU6hASeQrfSKKzH-fMnoFUmim611FalBvMz4l-ywPGbO1Kj5CRF2a&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
                    <script>
                        paypal.Buttons({
                            style: {
                                shape: 'pill',
                                color: 'blue',
                                layout: 'vertical',
                                label: 'subscribe'
                            },
                            createSubscription: function (data, actions) {
                                return actions.subscription.create({
                                    /* Creates the subscription */
                                    plan_id: 'P-68321642VB210481BMJXTHIY'
                                });
                            },
                            onApprove: function (data, actions) {
                                alert(data.subscriptionID); // You can add optional success message for the subscriber here
                            }
                        }).render('#paypal-button-container-P-68321642VB210481BMJXTHIY'); // Renders the PayPal button
                    </script>
                </div>

            </div>
        </div>

    </div>

    <div class="line"></div>
</body>
</html>
